{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class=" col-md-offset-3 col-md-6" align="center">
        <img src="/static/flask.png" alt="">
    </div>
</div>
<br><br>
<div class="row">
    <div class=" col-md-offset-3 col-md-6 jumbotron">
        <p>Flask es un framework minimalista escrito en Python que te permite crear aplicaciones web rápidamente y con un mínimo número de líneas de código. Está basado en la especificación WSGI de Werkzeug y el motor de templates Jinja2 y tiene una licencia BSD.</p>
    </div>
</div>

{% endblock %}